//////////////////////////////////////////////////////////////////////////////////////////////////
/* --                  NUGEN RRBS DNAm Pipeline nextflow core configuration                  -- */
//////////////////////////////////////////////////////////////////////////////////////////////////
import java.time.*
Date now = new Date()


profiles {
  crick { includeConfig 'conf/crick.conf' }
}
