//////////////////////////////////////////////////////////////////////////////////////////////////
/* --        FrancisCrickInstitute/TRACERx-single-cell-nf nextflow core configuration        -- */
//////////////////////////////////////////////////////////////////////////////////////////////////
import java.time.*
Date now = new Date()


profiles {
  crick { includeConfig 'conf/crick.conf' }
}
